.social-card-navbar svg {
  color: rgb(79, 78, 78) !important;
}



.social-card-navbar a:first-child:hover {
    background-color: #1877f2;
    animation: bounce_613 0.4s linear;
  }

  .social-card-navbar a:first-child:hover svg {
    color: #fff !important;
  }
  
  .social-card-navbar a:nth-child(2):hover {
    background-color: #808080;
    animation: bounce_613 0.4s linear;
  }
  
  .social-card-navbar a:nth-child(2):hover svg {
    color: #fff !important;
  }
  
  .social-card-navbar a:nth-child(3):hover {
    background-color: #0077b5;
    animation: bounce_613 0.4s linear;
  }
  
  .social-card-navbar a:nth-child(3):hover svg {
    color: #fff !important;
  }
  
  .social-card-navbar a:nth-child(4):hover {
    background-color: #3ae231;
    animation: bounce_613 0.4s linear;
  }
  
  .social-card-navbar a:nth-child(4):hover svg {
    color: #fff !important;
  }

  .responsive-social-icons a {
    animation: bounce_613 0.5s linear;
    animation-delay: 300ms;
  }

  .shadow-custom {
    box-shadow: 0 1px 3px 0 rgb(0 0 0), 0 4px 3px 0px rgba(0, 0, 0, 0.514);
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
